body {
	margin: 0px;
	background: #369647;
}

input[type='text']{
	position: fixed;
	font-family: 'Tajawal', sans-serif;
	width: 300px;
	height: 18px;
	top: -5px;
	left: calc(50vw - 150px);
	color: #480032;

	padding: 2px 10px 2px 10px;
	border: 2px solid #480032;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #ffd2bb;
	opacity: 0.08;
	transition: 0.8s opacity ease,  0.8s transform ease;
}

input[type='text']:hover {
	opacity: 1;
	transform: translateY(15px);
}

canvas {
	display: block;
	margin: 25px auto 0px auto;
	padding: 0px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
